<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2023.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application>


        <activity
            android:name="ai.botstacks.sdk.BotStacksChatActivity"
            android:configChanges="screenLayout|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

                <meta-data android:name="io.sentry.auto-init" android:value="false" />

    </application>
</manifest>